<p>
  <b>Name:</b>
  <%=h @author.name %>
</p>

<p>
  <b>Image:</b>
  <%=h @author.image %>
</p>

<p>
  <b>Description:</b>
  <%=h @author.description %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>